{% extends "base.html" %}
{% load static %}
{% block title %}
    Exact Coder || {{article.article_main_title}}
{% endblock title %}

{% block content %}

{% if article %}
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h6>Published At : <span>{{article.updated}}</span></h6>
                        <h2>{{article.article_main_title}}</h2>
                        <div class="blog__details__social">
                            <div class="work-details-share">
                                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#shareSocilaLinkModal" >Share &nbsp;<i class="fas fa-share" title="share"></i></a>
                            </div>
                        </div>
                        {% if article.article_sub_title %}
                        <h6 style="margin-top:3rem;">{{article.article_sub_title}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{article.article_banner_img.url}}" alt="{{article.article_main_title}}">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p style="color:#fff;">{{article.article_description|safe}}</p>
                        </div>
                        {% if article_extra_section %}
                        {% for extra_section in article_extra_section %}
                        
                        <div class="blog__details__item__text">
                            <h4>{{extra_section.section_title}}</h4>
                            {% if extra_section.section_image %}
                            <img src="{{extra_section.section_image.url}}" alt="">
                            {% endif %}
                            <p>{{extra_section.section_description | safe }}</p>
                        </div>

                        {% endfor %}
                        {% endif %}
                        
                        {% if article.tags %}
                        <div class="blog__details__tags">
                        {% for tag in article.tags.all %}
                            <p title="tag">#{{tag.tag_name}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                        <div class="blog__details__btns">
                            <div class="row">
                                {% if previous_article %}
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item">
                                        <h5><a href="{% url "article_details" previous_article.slug %}"><span class="arrow_left"></span>{{previous_article.article_main_title|slice:":20"}}....</a>
                                        </h5>
                                    </div>
                                </div>
                                {% endif %}
                                {% if next_article %}
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item next__btn">
                                        <h5><a href="{% url "article_details" next_article.slug %}">{{next_article.article_main_title|slice:":20"}}.... <span
                                            class="arrow_right"></span></a></h5>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="blog__details__comment">
                                {% if comments %}
                                <h4 style="margin-top:4rem;">{{comments|length}} Comments</h4>
                                {% for comment in comments %}
                                <div class="blog__details__comment__item">
                                    <div class="blog__details__comment__item__pic">
                                        {% if comment.commenter.avator %}
                                        <img src="{{comment.commenter.avator.url}}" alt="">
                                        {% else %}
                                        <i class="fas fa-3x fa-user-circle text-light"></i>
                                        
                                        {% endif %}
                                    </div>
                                    <div class="blog__details__comment__item__text">
                                        <span>{{comment.created}}</span>
                                        <h5>{{comment.commenter.get_full_name}}</h5>
                                        <p>{{comment.comment_text}}</p>
                                        {% if user.email == comment.commenter.email %}
                                        <div class="blog_comment_delete">
                                            <a class="" href="{% url "delete_comment" comment.comment_id comment.slug %}"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
                                            <a class="" href="#"><i class="fas fa-edit"></i></a>
                                        </div>
                                        {% endif %}

                                        <span id="replay-button" style="cursor: pointer;color:#e53637;display:inline;">Reply</span>
                                        <div class="blog__details__form" id="replay-input-form" style="display:none;padding-top:0px !important;">
                                            <form  method="POST" action="" autocomplete="off" class="was-validated">
                                                {% csrf_token %}
                                                <div class="row replay">
                                                    <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                                                    {% comment %} <input type="hidden" name="article_slug" value="{{article.slug}}"> {% endcomment %}
                                                    <div class="form-group col-lg-10 mr-0 replay_text">
                                                        <input type="text" class="" name="replay_text" placeholder="replay message...">
                                                        
                                                        
                                                    </div>
                                                    <div class="form-group ml-0 col-lg-2">
                                                        <button type="submit" name="form_submit" style="display:inline-block;text-align:center;background:#e53637;font-size:14px;marign-left:0px;padding: 8px 5px;" class="btn text-light" value="Replay">Submit</button>
                                                    </div>
                                                    
                                                    {% comment %} <button type="submit" class="site-btn">Comment</button> {% endcomment %}
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>


                                <!-- Comment Replay showing start -->
                                {% for replay in comment.replay_comment.all %}
                                <div class="blog__details__comment__item blog__details__comment__item--reply">
                                    <div class="blog__details__comment__item__pic">
                                        <img src="{{replay.replayer.avator.url}}" alt="">
                                    </div>
                                    <div class="blog__details__comment__item__text">
                                        <span style="display: flex;font-size:10px;">Replayed to &nbsp;<span style="font-weigth:600;color: #e53637;font-size:10px;"><i class="fas fa-share"></i>&nbsp;&nbsp;{{comment.commenter.get_full_name}}</span></span>
                                        <h5>{{replay.replayer.get_full_name}}</h5>
                                        <p>{{replay.replay_text}}</p>
                                        <span id="replay-button" style="cursor: pointer;color:#e53637;display:inline;">Reply</span>
                                        <div class="blog__details__form" id="replay-input-form" style="display:none;padding-top:0px !important;">
                                            <form  method="POST" action="" autocomplete="off" class="was-validated">
                                                {% csrf_token %}
                                                <div class="row replay">
                                                    <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                                                    {% comment %} <input type="hidden" name="article_slug" value="{{article.slug}}"> {% endcomment %}
                                                    <div class="form-group col-lg-10 mr-0 replay_text">
                                                        <input type="text" class="" name="replay_text" placeholder="Write your Replay...">
                                                        
                                                        
                                                    </div>
                                                    <div class="form-group ml-0 col-lg-2">
                                                        <button type="submit" name="form_submit" style="display:inline-block;text-align:center;background:#e53637;font-size:14px;marign-left:0px;padding: 8px 5px;" class="btn text-light" value="Replay">Submit</button>
                                                    </div>
                                                    {% comment %} <button type="submit" class="site-btn">Comment</button> {% endcomment %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                                <!-- Comment Replay showing End -->

                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="blog__details__form">
                                <h4>Leave A Comment</h4>
                                <form  method="POST" action="" autocomplete="off" class="was-validated">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% comment %} <input type="hidden" name="email" value="{{user.email}}"> {% endcomment %}
                                        {% comment %} <input type="hidden" name="article_slug" value="{{article.slug}}"> {% endcomment %}
                                        <div class="form-group col-lg-12">
                                            <textarea name="comment_text" cols="5" rows="2" placeholder="Write your comment..."></textarea>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <button type="submit" name="form_submit" style="display:inline-block;text-align: center;background:#e53637;font-size:19px" class="btn text-light p-2 px-3" value="Comment">Comment</button>
                                        </div>
                                        {% comment %} <button type="submit" class="site-btn">Comment</button> {% endcomment %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->
{% else %}
        <h1 class="" style="color:#fff;">No Details to Show</h1>

{% endif %}


{% endblock content %}
