{% extends "base.html" %}
{% load static %}
{% block title %}
    Exact Coder || {{article.article_main_title}}
{% endblock title %}

{% block content %}

{% if article %}
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h6>Published At : <span>{{article.updated}}</span></h6>
                        <h2>{{article.article_main_title}}</h2>
                        <div class="blog__details__social">
                            <div class="work-details-share">
                                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#shareSocilaLinkModal" >Share &nbsp;<i class="fas fa-share" title="share"></i></a>
                            </div>
                        </div>
                        {% if article.article_sub_title %}
                        <h6 style="margin-top:3rem;">{{article.article_sub_title}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{article.article_banner_img.url}}" alt="{{article.article_main_title}}">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p style="color:#fff;">{{article.article_description|safe}}</p>
                        </div>
                        {% if article_extra_section %}
                        {% for extra_section in article_extra_section %}
                        
                        <div class="blog__details__item__text">
                            <h4>{{extra_section.section_title}}</h4>
                            {% if extra_section.section_image %}
                            <img src="{{extra_section.section_image.url}}" alt="">
                            {% endif %}
                            <p>{{extra_section.section_description | safe }}</p>
                        </div>

                        {% endfor %}
                        {% endif %}
                        
                        {% if article.tags %}
                        <div class="blog__details__tags">
                        {% for tag in article.tags.all %}
                            <p title="tag">#{{tag.tag_name}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                        <div class="blog__details__btns">
                            <div class="row">
                                {% if previous_article %}
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item">
                                        <h5><a href="{% url "article_details" previous_article.slug %}"><span class="arrow_left"></span>{{previous_article.article_main_title|slice:":20"}}....</a>
                                        </h5>
                                    </div>
                                </div>
                                {% endif %}
                                {% if next_article %}
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item next__btn">
                                        <h5><a href="{% url "article_details" next_article.slug %}">{{next_article.article_main_title|slice:":20"}}.... <span
                                            class="arrow_right"></span></a></h5>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            
                            <div class="blog__details__comment">
                                {% if comments %}
                                <h4 style="margin-top:4rem;">{{comments|length}} Comments</h4>
                                {% if comment_htmx %}

                                {% include 'components/article/article_single_comment.html' %}
                            
                                {% else %}
                            
                                {% include "components/article/comment.html" %}
                                
                                {% endif %}
                            
                                {% endif %}
                            </div>

                            {% include "components/article/article_write_comment.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->
{% else %}
        <h1 class="" style="color:#fff;">No Details to Show</h1>

{% endif %}


{% endblock content %}

{% comment %} {% block script %}
        
    <script>

     //=== Article Comment Start===//

     $(document).on('submit', '#article_comment_form', function(e){
        e.preventDefault();
        let article_slug = $('#article_slug').val();
        let comment_text = $('#article_comment_text').val();
        let article_comment_submit_button = $('#article_comment_submit_button').val();
        console.log(article_slug);
        console.log(comment_text);
    
        $.ajax({
            type: 'POST',
            url: `/articles/details/${article_slug}`,
            data: {
                comment_text: comment_text,
                article_comment_submit_button: article_comment_submit_button,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
                $('#article_comment_text').val('');
    
                $('#success_message').text('Comment submitted successfully!').show();
                setTimeout(function() {
                    $('#success_message').fadeOut('slow');
                }, 6000); 
            }
        });
    });
    

    //=== Article Comment End ===//
    </script>


{% endblock script %}

 {% endcomment %}
