{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Articles Page {% endblock title %}

{% block content %}


    <!-- Normal Breadcrumb vedio Begin -->


    <!-- Normal Breadcrumb vedio End -->

    

    <!-- Blog Section Begin -->
    <section class="blog">
        <div class="container">
            <div class="container">
                <div class="article_category row mb-5">
                    <div class="category_title">
                        <div class="quotes-header text-center align-items-center">
                            <h1 class="quotes-header-title">All Categories</h1>
                            <img src="{% static "img/devider.png" %}" alt="divider">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        {% if categories %}
                            {% for articleCategory in categories %}
                            <div class="category_item">
                                <input type="checkbox"  class="filter-article" data-filter="category" id="{{articleCategory.slug}}" value="{{articleCategory.slug}}">
                                <label for="{{articleCategory.slug}}">{{ articleCategory.name }}</label>
                                
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="row" id="filteredArticles">
                {% if articles %}
                {% for article in articles %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog__item small__item set-bg" data-setbg="{{article.article_banner_img.url}}">
                        <div class="blog__item__text">
                            <p><span class="icon_calendar"></span>{{article.updated}}</p>
                            <p>Written By: {{article.author.get_full_name}}</p>
                            <h4><a href="{% url "article_details" article.slug %}">{{article.article_main_title|slice:":80"}}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <h3 style="text-align:center;color:#fff;margin:3rem 0rem;">No Article Found!!</h3>
                {% endif %}
            </div>
            {% if articles %}
            <div class="product__pagination">
                {% if articles.has_previous %}
                <a href="?page={{articles.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a>
                {% endif %}
                <a href="?page={{articles.number}}" class="current-page">{{articles.number}}</a>
                {% if articles.has_next %}
                <a href="?page={{articles.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Blog Section End -->


{% endblock content %}
