{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Coders {% endblock title %}

{% block content %}
    
    <!-- Normal Breadcrumb Begin -->
    {% if bread_crumb %}
        {% if bread_crumb.breadcrumb_type == "VIDEO" %}
            {% include "components/videoBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% elif  bread_crumb.breadcrumb_type == "IMAGE"%}
            {% include "components/imageBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% endif %}
    {% endif %}

    <!-- Normal Breadcrumb End -->


    <!-- ExactCoders profile section start -->
    {% if employees %}
    <section class="exect_profile">
        <div class="container">
            <div class="row align-items-center text-center">
                {% for employee in employees %}
                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src={{employee.avator.url}} alt="{{employee.get_full_name}}">
                        <a target="_blank" href="mailto:{{employee.email}}" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">{{employee.get_full_name}}</h4>
                            {% if employee.profession %}
                            <p class="text-light">{{employee.profession}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div><br>
                {% endfor %}


            </div>
            <div class="product__pagination">
                {% if employees.has_previous %}
                <a href="?page={{employees.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a>
                {% endif %}
                <a href="?page={{employees.number}}" class="current-page">{{employees.number}}</a>
                {% if employees.has_next %}
                <a href="?page={{employees.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- ExactCoders profile section end  -->

    

    
    <!-- ExactCoders Quote Start -->
    {% include "components/quotes.html" with quotesdata=quotes %}
    <!-- ExactCoders Quote End -->



{% endblock content %}