{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Coders {% endblock title %}

{% block content %}
    <!-- Normal Breadcrumb vedio Begin -->

    <section class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="{% static "videos/color-melting.mp4" %}" type="video/mp4">
        </video>  
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <div class="d-flex position-absolute tm-search-form">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>ExactCoders Page</h2>
                    <p>Welcome to the article page.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Normal Breadcrumb vedio End -->


    <!-- ExactCoders profile section start -->
    
    <section class="exect_profile">
        <div class="container">
            <div class="row align-items-center text-center">

                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-1.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>


                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-2.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>


                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-3.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>



                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-4.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>



                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-5.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>



                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-6.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>


                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src="{% static "img/blog/blog-7.jpg" %}" alt="">
                        <a target="_blank" href="mailto:hasanakash799@gmail.com" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">Jahid Hasan</h4>
                            <p class="text-light">FullStack Developer</p>
                        </div>
                    </div>
                </div><br>

            </div><hr style="padding:4px;color:#fff;margin-top:2rem;margin-bottom:4rem;">
        </div>
    </section>
    <!-- ExactCoders profile section end  -->

    

    
    <!-- ExactCoders Quote Start -->

    <div class="container-fluid py-5">
        <div class="container p-0 quotes">
                <h1 class="quotes-header align-items-center">Our Quotes</h1>
            <div class="owl-carousel quote-carousel">


                <div class="quote-items px-3">
                    <div class="quote-item shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-light mr-3"></h3>
                        <span class="text-light">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum clita</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{% static "img/live/live-1.jpg" %}" style="width: 70px; height: 70px;" alt="Image">
                        <div class="pl-3" style="padding-left:0.5rem;">
                            <h5 class="text-light">Jahid Hasan</h5>
                            <i class="text-light">Profession</i>
                        </div>
                    </div>
                </div>



                <div class="quote-items px-3">
                    <div class="quote-item shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-light mr-3"></h3>
                        <span class="text-light">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum clita</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{% static "img/live/live-2.jpg" %}" style="width: 70px; height: 70px;" alt="Image">
                        <div class="pl-3" style="padding-left:0.5rem;">
                            <h5 class="text-light">Hasan</h5>
                            <i class="text-light">Profession</i>
                        </div>
                    </div>
                </div>



                <div class="quote-items px-3">
                    <div class="quote-item shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-light mr-3"></h3>
                        <span class="text-light">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum clita</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{% static "img/live/live-3.jpg" %}" style="width: 70px; height: 70px;" alt="Image">
                        <div class="pl-3" style="padding-left:0.5rem;">
                            <h5 class="text-light">Akash Hasan</h5>
                            <i class="text-light">Profession</i>
                        </div>
                    </div>
                </div>



                <div class="quote-itema px-3">
                    <div class="quote-item shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-light mr-3"></h3>
                        <span class="text-light">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum clita</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{% static "img/live/live-4.jpg" %}" style="width: 70px; height: 70px;" alt="Image">
                        <div class="pl-3" style="padding-left:0.5rem;">
                            <h5 class="text-light">Roubyet Hasan</h5>
                            <i class="text-light">Profession</i>
                        </div>
                    </div>
                </div>



                <div class="quote-items px-3">
                    <div class="quote-item shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-light mr-3"></h3>
                        <span class="text-light">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum clita</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{% static "img/live/live-5.jpg" %}" style="width: 70px; height: 70px;" alt="Image">
                        <div class="pl-3" style="padding-left:0.5rem;">
                            <h5 class="text-light">Khan Hasan</h5>
                            <i class="text-light">Profession</i>
                        </div>
                    </div>
                </div>



                
            </div>
        </div>
    </div>

    <!-- ExactCoders Quote End -->



{% endblock content %}