{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Coders {% endblock title %}

{% block content %}
    <!-- Normal Breadcrumb vedio Begin -->

    <section class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="{% static "videos/color-melting.mp4" %}" type="video/mp4">
        </video>
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <div class="d-flex position-absolute tm-search-form">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>ExactCoders Page</h2>
                    <p>Welcome to the article page.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Normal Breadcrumb vedio End -->


    <!-- ExactCoders profile section start -->
    {% if employees %}
    <section class="exect_profile">
        <div class="container">
            <div class="row align-items-center text-center">
                {% for employee in employees %}
                <!--Single Profile-->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src={{employee.avator.url}} alt="{{employee.get_full_name}}">
                        <a target="_blank" href="mailto:{{employee.email}}" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">{{employee.get_full_name}}</h4>
                            <p class="text-light">{{employee.profession}}</p>
                        </div>
                    </div>
                </div><br>
                {% endfor %}


            </div><hr style="padding:4px;color:#fff;margin-top:2rem;margin-bottom:4rem;">
        </div>
    </section>
    {% endif %}
    <!-- ExactCoders profile section end  -->

    

    
    <!-- ExactCoders Quote Start -->
    {% include "components/quotes.html" with quotesdata=quotes %}
    <!-- ExactCoders Quote End -->



{% endblock content %}