{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Forget Password {% endblock title %}

{% block content %}

    
    <!-- Normal Breadcrumb Begin -->
    {% if bread_crumb %}
        {% if bread_crumb.breadcrumb_type == "VIDEO" %}
            {% include "components/videoBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% elif  bread_crumb.breadcrumb_type == "IMAGE"%}
            {% include "components/imageBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% endif %}
    {% endif %}


    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Forget Password</h3>
                        <form autocomplete="off" enctype="multipart/form-data" method="POST" class="was-validated">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="email" name="forget_pass_email" class="form-control" placeholder="Email address" required>
                                <span class="icon_mail"></span>
                            </div>
                            <button type="submit" class="site-btn">Send Mail</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->


{% endblock content %}