{% extends "base.html" %}
{% load static %}


{% block content %}


    <!-- Slider Section Begin -->
    {% if sliders %}
    <section class="container hero">
        <div class="hero__slider owl-carousel">

            {% for slider in sliders %}
            
            <div class="hero__items set-bg" data-setbg="{{slider.slider_image.url}}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">{{slider.slider_type}}</div>
                            <h2>{{slider.slider_title}}</h2>
                            <p>{{slider.slider_subtitle}}</p>
                            <a href="{{slider.button_link}}"><span>{{slider.button_text}}</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
</section>
    {% endif %}
    <!-- Slider Section End -->

    <!--  Coder profile Section Start-->


    {% if employees %}
    <section class="container p-0 quotes mt-5">
        <div class="quotes-header text-center align-items-center">
            <h1 class="quotes-header-title">Exact Coders</h1>
            <img src="{% static "img/devider.png" %}" alt="divider">
        </div>
        <div class="owl-carousel profile-carousel">

            {% for employee in employees %}
            <div class="quote-items px-3">
                <div class="quote-item shadow-sm rounded mb-4">
                    <div class="exact_profile_item bg-white d-flex flex-column align-items-center text-center">
                        <img class="img-fluid" src={{employee.avator.url}} alt={{employee.get_full_name}}>
                        <a target="_blank" href="mailto:{{employee.email}}" class="exact_profile_icon">
                            <i class="fas fa-3x fa-envelope"></i>
                        </a>
                        <div class="px-2 pb-2">
                            <h4 class="text-uppercase pt-2 mb-1 text-light">{{employee.get_full_name}}</h4>
                            <p class="text-light">{{employee.profession}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <a href="{% url "exactCoders" %}" class="btn jet-btn">See More &nbsp;<i class="fas fa-angle-double-right"></i></a>
    </section>
    {% else %}
    <h1 class="text-center text-light">No Employee to show</h1>
    {% endif %}


    <!--  Coder profile Section End-->


    <!-- Showing Article page Begin -->
    <section class="">
    <div class="quotes-header text-center align-items-center">
        <h1 class="quotes-header-title">Our Article</h1>
        <img src="{% static "img/devider.png" %}" alt="divider">
    </div>
    <div class="home_article parallax" style="background-image: url(static/img/home/home-article.jpg);">
        {% comment %} <div class="cover"></div> {% endcomment %}
        <div class="container">
            <div class="row text-center align-items-center">
                <div class="col-lg-12">
                    <h2 class="p-3 mt-3" style="color:#e53637;font-weight:600;">Watch and Read our Article</h2>
                    <p class="p-3 text-light" style="font-weight:600;">Discover a wealth of insights and knowledge on our article. Dive into a curated collection of engaging and informative content that caters to diverse interests. Uncover expert perspectives, stay updated on the latest technology, and enhance your understanding of various on programming and tech. Whether you seek practical tips, thought-provoking analyses, or in-depth research, our articles provide a valuable resource for enriching your intellect and broadening your perspective.</p>
                    <a href="{% url "articles" %}" class="btn pulse p-2" style="background:#E53637;color:#fff;border-radius:2px;">Go To Articles</a>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Showing Article page End -->


    <!-- Our Work page Start -->

    {% if ourworks %}
    <section class="our_work">
        <div class="quotes-header text-center align-items-center">
            <h1 class="quotes-header-title">Our Previous Work</h1>
            <img src="{% static "img/devider.png" %}" alt="divider">
        </div>
        
        <div class="container">
            <div class="row">

                {% for ourwork in ourworks %}
                  <!--Single Item-->
                  <div class="col-xs-12 col-sm-6 col-lg-4 responsive comp_section">
                      <div class="portfolio_single_content comp_main_img">
                        <img 
                          src={{ourwork.workbanner.url}}
                          alt="title"
                        />
                        <div>
                          <h4 class="text-light" style="color: #e53637;display: block;font-size: 1rem;font-weight: 900;margin-top: 15%;padding-bottom: 1.1rem;text-decoration: none;text-transform: uppercase;font-family: "Oswald";">{{ourwork.worktitle}}</h4>
                          <span style="color: #ffffff;font-size: .9rem;font-weight: 400;font-family: "Oswald";margin: 0;padding-bottom: 0;text-align: justify;">{{ourwork.worksubtitle}}</span><br><br>
                          <p style="color: #ffffff;font-size: .8rem;font-family: "Mulish";font-weight: normal;margin: 0;padding: 0;text-align: center;;">{{ourwork.shortdesc}}</p>
                          <a class="btn prot-item-btn-home" style="color: #ffffff;display: block;font-size: 13px;font-weight: bold;margin-top: 20%;padding-bottom: 10px;text-decoration: none;text-transform: uppercase;"   href="{% url 'workDetails' ourwork.id ourwork.slug %}">See More</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}


            
            </div>
            <a href="protfolio" class="btn jet-btn">See More &nbsp;<i class="fas fa-angle-double-right"></i></a>
        </div>
    </section>
    {% else %}
    <h1 class="text-center text-light">No Work to show</h1>
    {% endif %}
    <!-- Our Work page End -->

    
    <!-- ExactCoders Quote Start -->
    {% include "components/quotes.html" with quotesdata=quotes %}
    <!-- ExactCoders Quote End -->




{% endblock content %}