{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Login {% endblock title %}

{% block content %}

    
    <!-- Normal Breadcrumb Begin -->
    {% if bread_crumb %}
        {% if bread_crumb.breadcrumb_type == "VIDEO" %}
            {% include "components/videoBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% elif  bread_crumb.breadcrumb_type == "IMAGE"%}
            {% include "components/imageBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% endif %}
    {% endif %}


    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form autocomplete="off" enctype="multipart/form-data" method="POST" class="was-validated">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="email" name="email" class="form-control" placeholder="Email address" required>
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password"  placeholder="Password" name="password" class="form-control" required>
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a class="forget_pass" href="{% url "forgetPassword" %}">Forgot Your Password?</a>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="{% url "signup" %}" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
            {% comment %} <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>or</span>
                            <ul>
                                <li><a href="#" class="facebook"><i class="fab fa-facebook"></i> Sign in With
                                Facebook</a></li>
                                <li><a href="#" class="google"><i class="fab fa-google"></i> Sign in With Google</a></li>
                                <li><a href="#" class="twitter"><i class="fab fa-twitter"></i> Sign in With Twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!-- Login Section End -->


{% endblock content %}