{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Protfolio {% endblock title %}

{% block content %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static "img/banner/protfolio-banner.png" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2 style="color:#0b0c2a;font-weight:700;"> Protfolio Page</h2>
                        <p style="color:#0b0c2a;font-weight:700;">We provide our best Protfolio to our client.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
    
        <!-- Begin Work -->
<section id="portfolio-section" class="page bg-style1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio">
            <div class="portfoloi_content_area">
              <div class="portfolio_content">
                <div class="row" id="portfolio">

                  {% if ourworks %}
                  {% for work in ourworks %}
                    <div class="col-xs-12 col-sm-6 responsive comp_section">
                      <div class="portfolio_single_content comp_main_img">
                        <img 
                          src={{work.workbanner.url}}
                          alt="title"
                        />
                        <div>
                          <h3>{{work.worktitle}}</h3>
                          <span>{{work.worksubtitle}}</span><br><br>
                          <p>{{work.shortdesc}}</p>
                          <a class="btn prot-item-btn"  href="{% url 'workDetails' work.id work.slug %}">See More</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {% else %}
                    <h1 style="color:#fff;margin:1rem;text-align:center;"> No Work to Show!!</h1>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__pagination">
        {% if ourworks.has_previous %}
        <a href="?page={{ourworks.previous_page_number}}" title="Previous" ><i class="fa fa-angle-double-left"></i></a>
        {% endif %}
        <!--<a href="#" class="current-page">1</a>-->
        <a href="?page={{ourworks.number}}" class="current-page">{{ourworks.number}}</a>
        {% if ourworks.has_next %}
        <a href="?page={{ourworks.next_page_number}}" title="Next"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- End Work -->


{% endblock content %}

