{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Services {% endblock title %}

{% block content %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static "img/banner/services-banner.png" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2 style="color:#0b0c2a;font-weight:700;">Our Services</h2>
                        <p style="color:#0b0c2a;font-weight:700;">We provide our best services to our client.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <!-- Normal Breadcrumb End -->

    <!-- ===Services section=== -->
    <section class="container">
        <div class="justify-content-center align-items-center">
            <!-- Services Items 1-->
            <div class="row services-item">
                <div class="col-lg-6  text-center services-left text-light">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/web-design.png" %}" height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">Web Design</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/web-design-item.png" %}" alt="">
                    </div>
                </div>
            </div><hr style="padding:3px;color:#fff;">

            <!-- Services Items 2-->
            <div class="row services-item">
                
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/seo-item.png" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-center services-left">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/seo.png" %}" height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">Search Engine Optimization</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
            </div><hr style="padding:3px;color:#fff;">

            
            <!-- Services Items 3-->
            <div class="row services-item">
                <div class="col-lg-6 text-center services-left">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/game-development.png" %}"  height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">Game Development</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/game-development-item.png" %}" alt="">
                    </div>
                </div>
            </div><hr style="padding:3px;color:#fff;">

            <!-- Services Items 4-->
            <div class="row services-item">
                
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/ethical-hacker-item.png" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-center services-left">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/hacker.png" %}" height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">Ethical Hacking and Security</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
            </div><hr style="padding:3px;color:#fff;">

            <!-- Services Items 5-->
            <div class="row services-item">
                <div class="col-lg-6 text-center services-left">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/app-development.png" %}" height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">App Design and Development</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/app-development-item.png" %}" alt="">
                    </div>
                </div>
            </div><hr style="padding:3px;color:#fff;">

            <!-- Services Items 6-->
            <div class="row services-item">
                <div class="col-lg-6 text-center services-right">
                    <div class="services-right-image">
                        <img src="{% static "img/services/items/web-development-item.png" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-center services-left">
                    <div class="services-left-logo">
                        <!-- ===Icon=== -->
                        <img src="{% static "img/services/icons/web-development.png" %}" height="100px" width="100px" alt="">
                    </div>
                    <h2 class="services-title">Web Development</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident, veritatis ipsa odio impedit sequi totam quas error molestiae saepe aperiam, nihil atque a magni voluptas repellendus, fuga ea necessitatibus. Obcaecati numquam ea dolor, officia incidunt voluptatibus repudiandae, quasi illum qui amet ex nulla eos hic? Culpa praesentium quis aperiam libero necessitatibus, expedita numquam esse vitae non error illo, cumque suscipit tempora possimus, in voluptates. Beatae unde placeat quibusdam debitis?</p>
                </div>
            </div><hr style="padding:3px;color:#fff;">


        </div>
    </section><br>
    <!-- ===Services section End=== -->



{% endblock content %}

