{% extends "base.html" %}
{% load static %}

{% block title %} Exact Coder | Services {% endblock title %}

{% block content %}
    
    <!-- Normal Breadcrumb Begin -->
    {% if bread_crumb %}
        {% if bread_crumb.breadcrumb_type == "VIDEO" %}
            {% include "components/videoBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% elif  bread_crumb.breadcrumb_type == "IMAGE"%}
            {% include "components/imageBreadcrumb.html" with bread_crumb=bread_crumb %}
        {% endif %}
    {% endif %}

    <!-- Normal Breadcrumb End -->

    <!-- ===Services section=== -->
    <section class="container">
        <div class="justify-content-center align-items-center">
            {% if services %}
                {% for service in services %}
                    {% if forloop.counter|divisibleby:2 %}
                    <!-- Services Items -->
                        <div class="row services-item">
                            <div class="col-lg-6  text-center services-left text-light">
                                <div class="services-left-logo">
                                    <!-- ===Icon=== -->
                                    <img src="{{service.service_logo.url}}" height="100px" width="100px" alt="">
                                </div>
                                <h2 class="services-title">{{service.service_title}}</h2>
                                <p class="services-description">{{service.service_description|safe}}</p>
                            </div>
                            <div class="col-lg-6 text-center services-right">
                                <div class="services-right-image">
                                    <img src="{{service.service_banner.url}}" alt="">
                                </div>
                            </div>
                        </div><hr style="padding:3px;color:#fff;">
                    {% else %}
                        <!-- Services Items -->
                        <div class="row services-item">
                            
                            <div class="col-lg-6 text-center services-right">
                                <div class="services-right-image">
                                    <img src="{{service.service_banner.url}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 text-center services-left">
                                <div class="services-left-logo">
                                    <!-- ===Icon=== -->
                                    <img src="{{service.service_logo.url}}" height="100px" width="100px" alt="">
                                </div>
                                <h2 class="services-title">{{service.service_title}}</h2>
                                <p class="services-description">{{service.service_description|safe}}</p>
                            </div>
                        </div><hr style="padding:3px;color:#fff;">

                    {% endif %}
                    
                
                {% endfor %}
            {% else %}
            <h1 class="h1 text-light mt-5">No Services Here to Show</h1>
            {% endif %}

        </div>
    </section><br>
    <!-- ===Services section End=== -->



{% endblock content %}

