{% extends "dashboard/base.html" %}
{% load static %}

    <!--  BEGIN MAIN CONTAINER  -->

    {% block content %}
    <div class="main-container sidebar-closed sbar-open" id="container">

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <div class="widget-content-area br-4">
                            <div class="widget-one">

                                <h6>Kick Start you new project with ease!</h6>

                                <p class="" style="color: #888ea8;">With CORK starter kit, you can begin your work without any hassle. The starter page is highly optimized which gives you freedom to start with minimal code and add only the desired components and plugins required for your project.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                        <div class="card b-l-card-1 h-100" style="-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); ">
                            <img class="card-img-top" src="assets/img/400x300.jpg" alt="Card image cap">
                            <div class="card-body">
                                <strong class="card-category">Trends</strong>
                                <h5 class="card-title mt-2">Trending Style</h5>
                                <p class="card-text meta-info meta-time mb-2"><small class="">3 mins ago</small></p>
                                <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <button class="btn btn-outline-warning mt-2">Read More</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom:24px;">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">                                
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Form controls</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area" style="height: 571px;">
                                <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                    <div class="row mb-4">
                                        <div class="form-group col-md-6">
                                            <label for="{{from.article_main_title.id_for_label}}">Article Main Title  <span style="color:red;font-weight:900;">*</span> :</label>
                                            {{form.article_main_title}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="{{from.article_sub_title.id_for_label}}">Article Sub-Title :</label>
                                            {{from.article_sub_title}}
                                        </div>
                                    </div>
                                    {% comment %} <div class="form-group mb-4">
                                        <label for="inputAddress">categories</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="inputAddress2">Address 2</label>
                                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                    </div> {% endcomment %}
                                    <div class="row mb-4">
                                        <div class="form-group col-md-4">
                                            <label for="{{form.article_banner_img.id_for_label}}">Banner Image  <span style="color:red;font-weight:900;">*</span> :</label>
                                            {{form.article_banner_img}}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="{{form.categories.id_for_label}}">Article Categories <span style="color:red;font-weight:900;">*</span> : </label>
                                                {{form.categories}}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="{{form.tags.id_for_label}}">Article Tags :</label>
                                                {{form.tags}}
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="text-light mb-3" for="{{form.article_description.id_for_label}}">Article Description <span style="color:red;font-weight:900;">*</span> :</div>
                                        {{form.article_description}}
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Post</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Table with Footer</h4>
                                    </div>          
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-4">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Sale</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Shaun</td>
                                                <td>10/08/2018</td>
                                                <td>320</td>
                                                <td class="text-center"><span class="badge badge-success">Approved</span></td>
                                                <td class="text-center">
                                                    
                                                    <div class="dropdown custom-dropdown">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                        </a>

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Alma</td>
                                                <td>11/08/2018</td>
                                                <td>420</td>
                                                <td class="text-center"><span class="badge badge-primary">In Progress</span></td>
                                                <td class="text-center">
                                                    
                                                    <div class="dropdown custom-dropdown">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                        </a>

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Sale</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    {% endblock content %}

    {% block script %}
    <script>
        CKEDITOR.replace('id_article_description', {
            width: '100%',
            height: 50,
            toolbar: 'full',
            removePlugins: 'About,exportpdf',
            removeButtons: 'About',
            //extraPlugins: 'codesnippet',
            // Add any other CKEditor configurations you want to apply
        });
        //var ckeditorConfig = {{ CKEDITOR_CONFIGS.admin_user|safe }};
        //CKEDITOR.replace('{{ form.article_description.id_for_label }}', ckeditorConfig);
        //CKEDITOR.replace('id_article_description');
    </script>
    {% endblock script %}
