{% load static %}

{% if comment_htmx %}

<div class="blog__details__comment__item" id="blog__details__comment__item">
    <div class="blog__details__comment__item__pic">
        {% if comment_htmx.commenter.avator %}
        <img src="{{comment_htmx.commenter.avator.url}}" alt="">
        {% else %}
        <i class="fas fa-3x fa-user-circle text-light"></i>
        
        {% endif %}
    </div>
    <div class="blog__details__comment__item__text">
        <span>{{comment_htmx.created}}</span>
        <h5>{{comment_htmx.commenter.get_full_name}}</h5>
        <p>{{comment_htmx.comment_text}}</p>
        {% if user.email == comment_htmx.commenter.email %}
        <div class="blog_comment_delete">
            <a class="" href="{% url "delete_comment" comment_htmx.comment_id comment_htmx.slug %}"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
            <a class="" href="#"><i class="fas fa-edit"></i></a>
        </div>
        {% endif %}
    
        <button class="replay-button" onclick="handleReplayButton('{{comment_htmx.comment_id}}')">Reply</button>
        <div class="blog__details__form" id="{{comment_htmx.comment_id}}" style="display:none;padding-top:5px !important;">
            {% include "components/article/comment_replay_form.html" %}
        </div>
    
    </div>
</div>



<!-- Comment Replay showing start -->
{% for replay in comment_htmx.replay_comment.all %}
<div class="blog__details__comment__item blog__details__comment__item--reply">
    <div class="blog__details__comment__replay__item__pic">
        <img src="{{replay.replayer.avator.url}}" alt="">
    </div>
    <div class="blog__details__comment__replay__item__text">
        <span style="display: flex;font-size:10px;">Replayed to &nbsp;<span style="font-weigth:600;color: #e53637;font-size:10px;"><i class="fas fa-share"></i>&nbsp;&nbsp;{{comment_htmx.commenter.get_full_name}}</span></span>
        <h5>{{replay.replayer.get_full_name}}</h5>
        <p>{{replay.replay_text}}</p>
        {% if user.email == replay.replayer.email %}
        <div class="blog_comment_delete">
            <a class="" href="{% url "delete_replay" replay.replay_id replay.slug %}"><i class="fas fa-trash-alt" style="color:#e53637"></i></a>&nbsp;&nbsp;
        </div>
        {% endif %}

    </div>
    
</div>
{% endfor %}
<!-- Comment Replay showing End -->



{% endif %}



