{% load static %}

{% if comment_htmx %}

<div class="blog__details__comment__item" id="blog__details__comment__item">
    <div class="blog__details__comment__item__pic">
        {% if comment_htmx.commenter.avator %}
        <img src="{{comment_htmx.commenter.avator.url}}" alt="">
        {% else %}
        <i class="fas fa-3x fa-user-circle text-light"></i>
        
        {% endif %}
    </div>
    <div class="blog__details__comment__item__text">
        <span>{{comment_htmx.created}}</span>
        <h5>{{comment_htmx.commenter.get_full_name}}</h5>
        <p>{{comment_htmx.comment_text}}</p>
        {% if user.email == comment_htmx.commenter.email %}
        <div class="blog_comment_delete">
            <a class="" href="{% url "delete_comment" comment_htmx.comment_id comment_htmx.slug %}"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
            <a class="" href="#"><i class="fas fa-edit"></i></a>
        </div>
        {% endif %}
    
    </div>
</div>


{% endif %}



