

<form  hx-post="{% url "article_details" slug=article.slug %}" hx-swap="afterbegin" hx-trigger="submit" hx-target="#blog__details__comment__item__reply" hx-on::after-request="this.reset()" autocomplete="off" class="was-validated">
    {% csrf_token %}
    <div class="row replay">
        <div id="replay_added"></div>
        <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
        <div class="form-group col-lg-10 mr-0 replay_text">
            <input type="text" class="" name="replay_text" placeholder="replay message...">
        </div>
        <div class="form-group ml-0 col-lg-2">
            <button type="submit" name="form_submit" style="display:inline-block;text-align:center;background:#e53637;font-size:14px;marign-left:0px;padding: 8px 5px;" class="btn text-light" value="Replay">Submit</button>
        </div>
        
    </div>
</form>

