
{% if replay_htmx.replayer.avator %}
<div class="blog__details__comment__replay__item__pic">
    <img src="{{replay_htmx.replayer.avator.url}}" alt="">
</div>
{% else %}
<div class="blog__details__comment__replay__item__pic">
    <i class="fas fa-2x fa-user-circle text-light"></i>
</div>
{% endif %}
<div class="blog__details__comment__replay__item__text">
    <span style="display: flex;font-size:10px;"> Replayed to &nbsp;<span style="font-weigth:600;color: #e53637;font-size:10px;"><i class="fas fa-share"></i>&nbsp;&nbsp;{{replay_htmx.replay_comment.commenter.get_full_name}}</span></span>
    <h5>{{replay_htmx.replayer.get_full_name}}</h5>
    <p>{{replay_htmx.replay_text}}</p> <br><br>

</div>


