{% extends "components/modals/baseModal.html" %}
{% load static %}

<!-- Modal Id-->
{% block modal-id %} id="shareSocilaLinkModal" {% endblock modal-id %}

<!-- Modal Title-->
{% block modal-title %} 
Share &nbsp; <i class="fas fa-share" title="share"></i>
{% endblock modal-title %}
{% block css-id %} {% endblock css-id %}

<!-- Modal Body-->
{% block body-class %} mb-0 pb-0 {% endblock body-class %}
{% block modal-body %}
    
<div class="modal-body">
  <div class="d-flex justify-content-center mt-4">
      <div class="blog__details__title">
          <div class="blog__details__social">
              <a class="facebook facebook-link" target="_blank" ><i class="fab fa-facebook-square"></i> Facebook</a>
              <a class="linkedin linkedin-link" target="_blank"><i class="fab fa-linkedin-in"></i> Linkedin</a>
          </div>
      </div>
  </div>
</div>
{% endblock modal-body %}
{% block modal-footer %}
{% endblock modal-footer %}
