{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="Exact Coder is a digital service provider company ,Website Design,Website Design & Development,Website Development, SEO, Search Engine Optimization,App Design, App Development, App Design & Development, Ethical hacking, Cyber Security,Game Development" content="Eaxact Coder">
    <meta name="keywords" content="Exact Coder, software, software company, digital service provider , developer, Website Design,Website Design & Development,Website Development, SEO, Search Engine Optimization,App Design, App Development, App Design & Development, Ethical hacking, Cyber Security,Game Development">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Exact Coder {% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "img/logo.png" %}" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <!-- Highlight JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/an-old-hope.min.css" integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Dropify CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/plyr.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    {% block css %}{% endblock css %}
    <!-- HTMX Script -->
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body>
    <div id="preloder">
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
            <h5 style="text-align:center;color:#fff;margin-top:500px;">Please Wait ....</h5>
        </div>
    </div>

    <!-- Include Modals Start  -->
    {% include "components/modals/shereSocialLinkModals.html" %}
    {% include "components/modals/logoutModals.html" %}
    {% include "components/modals/adminModals.html" %}
    {% include "components/modals/supportModals.html" %}
    <!-- Include Modals End  -->

    <!-- Include Components Start  -->
    {% include "components/ProfileOffCanvas.html" %}
    <!-- Include Components End  -->
    

    {% block header-navbar %}

        
        <!--Navbar Header Section Begin -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="{% url "home" %}">
                                <img src="{% static "img/logo.png" %}" height="20px" width="30px" alt="logo">
                                <span class="h6 logo-text" style="color:#e53637;font-weight:500;">Exact <span class="h6" style="color:#0377b3;font-weight:500;">Coder</span></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="header__nav">
                            <nav class="header__menu mobile-menu">
                                <ul id="nav">
                                    <li id="home_nav" onclick="activeNav('home_nav')"><a href="{% url "home" %}">Home</a></li>
                                    <li id="protfolio_nav" onclick="activeNav('protfolio_nav')"><a href="{% url "protfolio" %}">Protfolio <span class="arrow_carrot-down"></span></a>
                                        <ul class="dropdown">
                                            <li><a href="{% url "protfolio" %}">Our Work</a></li>
                                            <li><a href="{% url "exactCoders" %}">ExactCoders</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li id="articles_nav" onclick="activeNav('articles_nav')"><a href="{% url 'articles' %}">Article</a></li>
                                    <li id="services_nav" onclick="activeNav('services_nav')"><a href="{% url 'services' %}">Services</a></li>
                                    <li id="contacts_nav" onclick="activeNav('contacts_nav')"><a href="{% url "contacts" %}">Contacts</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2" style="text-align:right !important;">

                        <div class="header__right">
                            <button class="search-switch"><span class="icon_search text-light" title="Search"></span></button>
                            <!--<a href="./login.html"><span class="icon_profile"></span></a>-->
                            {% if user.is_authenticated %}
                                {% if user.avator %}
                                    <button data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas"><img class="user_avator" height="30px" width="30px" src="{{user.avator.url}}" alt=""></button>
                                {% else %}
                                    <button  data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas"><i class="fas fa-user-circle text-light"></i></button>
                                {% endif %}
                            {% else %}
                            <a href="{% url "login" %}"><i class="fas fa-sign-in-alt" title="Login"></i></a>
                            {% endif %}
                        </div>
                            
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!--Navbar Header Section End -->
    

    {% endblock header-navbar %}

    {% block content %}
    {% endblock content %}


    
  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->


{% block footer %}

<!-- Footer Section Begin -->
<footer class="footer" style="margin-top: 7rem;">
    <div class="page-up pulse2">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url "home" %}"><img src="{% static "img/logo.png" %}" height="35px" width="50px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url "home" %}">Home</a></li>
                        <li><a href="{% url "faq" %}">FAQ</a></li>
                        <li><a href="{% url "contacts" %}">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <p>
                  Copyright &copy; &nbsp;<script>document.write(new Date().getFullYear());</script> All rights reserved &nbsp;<i class="fa fa-heart" aria-hidden="true"></i>
                </p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->


{% endblock footer %}



<!-- Js Plugins -->
<!-- Jquery CDN script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Highlight JS CDN Script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>
<!-- Bootstrap CDN script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- Ajax Cdn Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Dropify Cdn Script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static "js/player.js" %}"></script>
<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "js/mixitup.min.js" %}"></script>
<script src="{% static "js/jquery.slicknav.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<script>
    $(document).ready(function(){
        $(".filter-article").on('click', function(){
            var filter_object={};
            $(".filter-article").each(function(index,ele){
                var filter_value=$(this).val();
                var filter_key=$(this).data('filter');
                console.log(filter_key,filter_value);
                filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                     return el.value;
                });
            });
            $.ajax({
                url:'{% url 'filter-data' %}',
                data:filter_object,
                dataType:'json',			
                success:function(res){				
                    $("#filteredArticles").html(res.data);				
                }
            });
        });
    });

</script>
{% block script %}{% endblock script %}

<!--Message from backend (success)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'success' %}
        <script>
            let msg = "{{ message }}";
            swal("",msg,"success")
        </script>
    {% endif %}
{% endfor %}

<!--Message from backend (Info)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'info' %}
        <script>
            let msg = "{{ message }}";
            swal("",msg,"info")
        </script>
    {% endif %}
{% endfor %}

<!--Message from backend (error)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'error' %}
        <script>
            let msg = "{{ message }}";
            swal("Denied !",msg,"error")
        </script>
    {% endif %}
{% endfor %}


</body>

</html>
