{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Eaxact Coder">
    <meta name="keywords" content="Exact Coder, software, software company , developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Exact Coder{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "img/logo.png" %}" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <!-- Highlight JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/an-old-hope.min.css" integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/plyr.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
            <h5 style="text-align:center;color:#fff;margin-top:500px;">Please Wait ....</h5>
        </div>
    </div>

    <!-- Include Modals Start  -->
    {% include "components/modals/shereSocialLinkModals.html" %}
    <!-- Include Modals End  -->
    
    


        <!--Navbar Header Section Begin -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="{% url "home" %}">
                                <img src="{% static "img/logo.png" %}" height="28px" width="40px" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="header__nav">
                            <nav class="header__menu mobile-menu">
                                <ul>
                                    <li class="active"><a href="{% url "home" %}" >Home</a></li>
                                    <li><a href="{% url "protfolio" %}">Protfolio <span class="arrow_carrot-down"></span></a>
                                        <ul class="dropdown">
                                            <li><a href="{% url "protfolio" %}">Our Work</a></li>
                                            <li><a href="{% url "exactCoders" %}">ExactCoders</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="{% url 'articles' %}">Article</a></li>
                                    <li><a href="{% url 'services' %}">Services</a></li>
                                    <li><a href="{% url "contacts" %}">Contacts</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3" style="text-align:right !important;">
                        <!--<div class="header__right header__menu mobile-menu" style="margin:0px !important;padding:0px !important;">
                            <ul>
                                <li><a href="./categories.html"><span class="arrow_carrot-down icon_profile"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Anime Details</a></li>
                                        <li><a href="./anime-watching.html">Anime Watching</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./signup.html">Sign Up</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li>
                                <a href="#" class="search-switch"><span class="icon_search"></span></a>
                                <a href="./login.html"><span class="icon_profile"></span></a>
                            </ul>
                        </div>-->
                        <div class="header__right">
                            <a href="#" class="search-switch"><span class="icon_search" title="Search"></span></a>
                            <!--<a href="./login.html"><span class="icon_profile"></span></a>-->
                            <a href="{% url "login" %}"><i class="fas fa-sign-in-alt" title="Login"></i></a>
                        </div>
                            
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!--Navbar Header Section End -->
    
    {% block content %}
    {% endblock content %}


    
  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->



<!-- Footer Section Begin -->
<footer class="footer" style="margin-top: 7rem;">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="{% static "img/logo.png" %}" height="35px" width="50px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart" aria-hidden="true"></i>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->




<!-- Js Plugins -->
<!-- Jquery CDN script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Highlight JS CDN Script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>
<!-- Bootstrap CDN script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{% static "js/player.js" %}"></script>
<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "js/mixitup.min.js" %}"></script>
<script src="{% static "js/jquery.slicknav.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

{% comment %} <script>
    $(document).ready(function(){
        $('.nav-home').click(function(){
            // $('.nav li').removeClass('active'); 
            $(this).classList.add('active');
          });
        $('.nav-protfolio').click(function(){
            $(this).classList.add('active');
          });
        $('.nav-articles').click(function(){
            $(this).classList.add('active');
          });
        $('.nav-services').click(function(){
            $(this).classList.add('active');
          });
        $('.nav-contacts').click(function(){
            $(this).classList.add('active');
          });
    })
</script> {% endcomment %}

<!--Message from backend (success)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'success' %}
        <script>
            let msg = "{{ message }}";
            swal("",msg,"success")
        </script>
    {% endif %}
{% endfor %}

<!--Message from backend (Info)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'info' %}
        <script>
            let msg = "{{ message }}";
            swal("",msg,"info")
        </script>
    {% endif %}
{% endfor %}

<!--Message from backend (error)-->
{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
    {% if message.tags == 'error' %}
        <script>
            let msg = "{{ message }}";
            swal("Denied !",msg,"error")
        </script>
    {% endif %}
{% endfor %}

<script>
    
</script>


</body>

</html>