
<div class="blog__details__comment__item" id="blog__details__comment__item">
    <div class="blog__details__comment__item__pic">
        {% if comment.commenter.avator %}
        <img src="{{comment.commenter.avator.url}}" alt="">
        {% else %}
        <i class="fas fa-3x fa-user-circle text-light"></i>
        
        {% endif %}
    </div>
    <div class="blog__details__comment__item__text">
        <span>{{comment.created}}</span>
        <h5>{{comment.commenter.get_full_name}}</h5>
        <p>{{comment.comment_text}}</p>
        {% if user.email == comment.commenter.email %}
        <div class="blog_comment_delete">
            <a class="" href="{% url "delete_comment" comment.comment_id comment.slug %}"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
            <a class="" href="#"><i class="fas fa-edit"></i></a>
        </div>
        {% endif %}

        <button class="replay-button" onclick="handleReplayButton('{{comment.comment_id}}')">Reply</button>
        <div class="blog__details__form" id="{{comment.comment_id}}" style="display:none;padding-top:5px !important;">
            <form  method="POST" action="" autocomplete="off" class="was-validated">
                {% csrf_token %}
                <div class="row replay">
                    <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                    {% comment %} <input type="hidden" name="article_slug" value="{{article.slug}}"> {% endcomment %}
                    <div class="form-group col-lg-10 mr-0 replay_text">
                        <input type="text" class="" name="replay_text" placeholder="replay message...">
                        
                        
                    </div>
                    <div class="form-group ml-0 col-lg-2">
                        <button type="submit" name="form_submit" style="display:inline-block;text-align:center;background:#e53637;font-size:14px;marign-left:0px;padding: 8px 5px;" class="btn text-light" value="Replay">Submit</button>
                    </div>
                    
                    {% comment %} <button type="submit" class="site-btn">Comment</button> {% endcomment %}
                </div>
            </form>
        </div>

    </div>
</div>