<div class="blog__details__form">
    <h4>Leave A Comment</h4>
    <form  hx-post="{% url "article_details" slug=article.slug %}" hx-swap="beforeend" hx-trigger="submit" hx-target="#blog__details__comment__item" hx-on::after-request="this.reset()" autocomplete="off" class="was-validated">
        {% csrf_token %}
        <div class="row">
            {% comment %} <input type="hidden" name="email" value="{{user.email}}"> {% endcomment %}
            {% comment %} <input type="hidden" id="article_slug" name="article_slug" value="{{article.slug}}"> {% endcomment %}
            <div class="form-group col-lg-12">
                <textarea name="comment_text" id="article_comment_text" cols="5" rows="2" placeholder="Write your comment..."></textarea>
            </div>
            <div class="form-group col-lg-2">
                <button type="submit" name="form_submit" style="display:inline-block;text-align: center;background:#e53637;font-size:19px" class="btn text-light p-2 px-3" value="Comment">Comment</button>
            </div>
            {% comment %} <button type="submit" class="site-btn">Comment</button> {% endcomment %}
        </div>
    </form>
</div>