{% load static %}
<section class="normal-breadcrumb set-bg" data-setbg="{{bread_crumb.breadcrumb_image.url}}" >

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2 style="color:#0b0c2a;font-weight:700;">{{bread_crumb.title}}</h2>
                    <p style="color:#0b0c2a;font-weight:700;">{{bread_crumb.description | safe}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
