{% load static %}

<!-- ExactCoders Quote Start -->
{% if quotesdata %}
<div class="container-fluid py-5">
    <div class="container p-0 quotes">
        <div class="quotes-header text-center align-items-center">
            <h1 class="quotes-header-title">Our Quotes</h1>
            <img src="{% static "img/devider.png" %}" alt="divider">
        </div>
        <div class="owl-carousel quote-carousel">

            {% for quote in quotesdata %}
            <div class="quote-items px-3">
                <div class="quote-item shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-light mr-3"></h3>
                    <span class="text-light">{{quote.employeeQuote}}</span>
                </div>
                <div class="d-flex align-items-center">
                    {% if quote.employeeUser.avator %}
                        <img class="rounded-circle" src={{quote.employeeUser.avator.url}} style="width: 70px; height: 70px;" alt="Image">
                    {% else %}
                        <i class="fas fa-user-circle text-light"></i>
                    {% endif %}
                    <div class="pl-3" style="padding-left:0.5rem;">
                        <h5 class="text-light">{{quote.employeeUser.get_full_name}}</h5>
                        {% if quote.employeeUser.profession %}
                        <i class="text-light">{{quote.employeeUser.profession}}</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</div>
{% endif %}
<!-- ExactCoders Quote End -->
