{% extends "base.html" %}
{% load static %}
{% block title %} Exact Coder || Profile{% endblock title %}

{% block content %}
    
    <!--  BEGIN MAIN CONTAINER  -->
<div style="margin:6rem;">
    <div class="container sidebar-closed sbar-open" id="container">

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">                
                    
                <div class="account-settings-container layout-top-spacing">
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                    <div id="general-info" class="section general-info">
                                        <div class="info">
                                            <h6 class="">General Information</h6>
                                            <div class="row">
                                                <div class="col-lg-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                                            <div class="upload mt-4 pr-md-4">
                                                                <input type="file" id="input-file-max-fs" class="dropify" {% if user.avator %}data-default-file="{{user.avator.url}}" {% else %}data-default-file="{% static "img\dashboard\profile-img-background.png" %}" {% endif %} data-max-file-size="2M" />
                                                                <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                            <div class="form">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="firstName">First Name</label>
                                                                            <input type="text" class="form-control mb-4" id="firstName" placeholder="First Name" {% if user.first_name %} value="{{user.first_name}}" {% else %} value="" {% endif %} required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="lastName">Last Name</label>
                                                                            <input type="text" class="form-control mb-4" id="lastName" placeholder="Last Name" {% if user.last_name %} value="{{user.last_name}}" {% else %} value="" {% endif %} required>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="userName">UserName</label>
                                                                    <input type="text" class="form-control mb-4" id="userName" placeholder="Username" {% if user.username %} value="{{user.username}}" {% else %} value="" {% endif %} required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="profession">Profession</label>
                                                                    <input type="text" class="form-control mb-4" id="profession" placeholder="Designer" {% if user.profession %} value="{{user.profession}}" {% else %} value="" {% endif %} required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                    <div id="about" class="section about pb-2" style="margin-bottom:8rem;">
                                        <div class="info">
                                            <h5 class="">About</h5>
                                            <div class="row">
                                                
                                                <div class="col-md-11 mx-auto">
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Phone Num (Country Code):</label>
                                                                <input type="phone" class="form-control mb-4" id="phoneNumber" placeholder="+(800)17*******" {% if user.phone %} value="{{user.phone}}" {% else %} value="" {% endif %}>
                                                            </div>
                                                        </div>
                                                        <label for="aboutBio">Bio</label>
                                                        <textarea class="form-control" id="aboutBio" placeholder="Tell something interesting about yourself" rows="10">{% if user.biography %}{{user.biography}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="account-settings-footer">
                        
                        <div class="as-footer-container">

                            <button onclick="location.reload();" type="button" id="multiple-reset" class="btn btn-primary">Reset All</button>
                            <button type="submit" id="multiple-messages" class="btn btn-success">Save Changes</button>

                        </div>

                    </div>
                </form>
                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
</div>
    <!-- END MAIN CONTAINER -->
    
{% block footer %}{% endblock footer %}
{% endblock content %}

